-- MySQL dump 10.13  Distrib 9.6.0, for Win64 (x86_64)
--
-- Host: localhost    Database: ScholEase
-- ------------------------------------------------------
-- Server version	9.6.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
SET @MYSQLDUMP_TEMP_LOG_BIN = @@SESSION.SQL_LOG_BIN;
SET @@SESSION.SQL_LOG_BIN= 0;

--
-- GTID state at the beginning of the backup 
--

SET @@GLOBAL.GTID_PURGED=/*!80000 '+'*/ 'fcb0a473-fc45-11f0-9322-5498bcec5a06:1-32';

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin` (
  `admin_id` int NOT NULL,
  `designation` varchar(100) NOT NULL,
  PRIMARY KEY (`admin_id`),
  CONSTRAINT `admin_ibfk_1` FOREIGN KEY (`admin_id`) REFERENCES `member` (`member_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
INSERT INTO `admin` VALUES (6,'Senior Officer'),(7,'Accounts Manager'),(8,'Verification Officer');
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `application`
--

DROP TABLE IF EXISTS `application`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `application` (
  `application_id` int NOT NULL AUTO_INCREMENT,
  `student_id` int NOT NULL,
  `scholarship_id` int NOT NULL,
  `application_date` date NOT NULL,
  `status` enum('pending','approved','rejected') NOT NULL,
  PRIMARY KEY (`application_id`),
  KEY `student_id` (`student_id`),
  KEY `scholarship_id` (`scholarship_id`),
  CONSTRAINT `application_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `student` (`student_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `application_ibfk_2` FOREIGN KEY (`scholarship_id`) REFERENCES `scholarship` (`scholarship_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `application`
--

LOCK TABLES `application` WRITE;
/*!40000 ALTER TABLE `application` DISABLE KEYS */;
INSERT INTO `application` VALUES (1,1,1,'2024-01-10','approved'),(2,2,2,'2024-01-12','pending'),(3,3,3,'2024-01-14','rejected'),(4,4,4,'2024-01-18','approved'),(5,5,1,'2024-01-20','pending'),(6,9,2,'2024-01-22','approved'),(7,10,3,'2024-01-25','pending'),(8,1,5,'2024-02-01','approved'),(9,2,4,'2024-02-05','approved'),(10,5,2,'2024-02-08','pending');
/*!40000 ALTER TABLE `application` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `category`
--

DROP TABLE IF EXISTS `category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `category` (
  `category_id` int NOT NULL AUTO_INCREMENT,
  `category_name` varchar(50) NOT NULL,
  PRIMARY KEY (`category_id`),
  UNIQUE KEY `category_name` (`category_name`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `category`
--

LOCK TABLES `category` WRITE;
/*!40000 ALTER TABLE `category` DISABLE KEYS */;
INSERT INTO `category` VALUES (5,'EWS'),(1,'General'),(2,'OBC'),(3,'SC'),(4,'ST');
/*!40000 ALTER TABLE `category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cpirecord`
--

DROP TABLE IF EXISTS `cpirecord`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cpirecord` (
  `cpi_id` int NOT NULL AUTO_INCREMENT,
  `student_id` int NOT NULL,
  `cpi` decimal(3,2) NOT NULL,
  `semester` int NOT NULL,
  PRIMARY KEY (`cpi_id`),
  KEY `student_id` (`student_id`),
  CONSTRAINT `cpirecord_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `student` (`student_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `cpirecord_chk_1` CHECK (((`cpi` >= 0) and (`cpi` <= 10)))
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cpirecord`
--

LOCK TABLES `cpirecord` WRITE;
/*!40000 ALTER TABLE `cpirecord` DISABLE KEYS */;
INSERT INTO `cpirecord` VALUES (1,1,8.20,5),(2,2,7.80,5),(3,3,6.50,5),(4,4,7.20,5),(5,5,7.90,5),(6,9,8.50,5),(7,10,7.10,5),(8,2,8.00,6),(9,1,8.40,6),(10,5,7.70,6);
/*!40000 ALTER TABLE `cpirecord` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `document`
--

DROP TABLE IF EXISTS `document`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `document` (
  `document_id` int NOT NULL AUTO_INCREMENT,
  `application_id` int NOT NULL,
  `document_type` varchar(50) NOT NULL,
  `file_path` varchar(255) NOT NULL,
  `upload_date` date NOT NULL,
  PRIMARY KEY (`document_id`),
  KEY `application_id` (`application_id`),
  CONSTRAINT `document_ibfk_1` FOREIGN KEY (`application_id`) REFERENCES `application` (`application_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `document`
--

LOCK TABLES `document` WRITE;
/*!40000 ALTER TABLE `document` DISABLE KEYS */;
INSERT INTO `document` VALUES (1,1,'Income Certificate','/files/income1.pdf','2024-01-10'),(2,2,'CPI Certificate','/files/cpi2.pdf','2024-01-12'),(3,3,'ID Proof','/files/id3.pdf','2024-01-14'),(4,4,'Income Certificate','/files/income4.pdf','2024-01-18'),(5,5,'CPI Certificate','/files/cpi5.pdf','2024-01-20'),(6,6,'ID Proof','/files/id6.pdf','2024-01-22'),(7,7,'Income Certificate','/files/income7.pdf','2024-01-25'),(8,8,'Research Proof','/files/research8.pdf','2024-02-01'),(9,9,'CPI Certificate','/files/cpi9.pdf','2024-02-05'),(10,10,'Income Certificate','/files/income10.pdf','2024-02-08');
/*!40000 ALTER TABLE `document` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `eligibilitycriteria`
--

DROP TABLE IF EXISTS `eligibilitycriteria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `eligibilitycriteria` (
  `criteria_id` int NOT NULL AUTO_INCREMENT,
  `scholarship_id` int NOT NULL,
  `min_cpi` decimal(3,2) NOT NULL,
  `max_income` decimal(12,2) NOT NULL,
  `required_category` int NOT NULL,
  PRIMARY KEY (`criteria_id`),
  KEY `scholarship_id` (`scholarship_id`),
  KEY `required_category` (`required_category`),
  CONSTRAINT `eligibilitycriteria_ibfk_1` FOREIGN KEY (`scholarship_id`) REFERENCES `scholarship` (`scholarship_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `eligibilitycriteria_ibfk_2` FOREIGN KEY (`required_category`) REFERENCES `category` (`category_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `eligibilitycriteria_chk_1` CHECK (((`min_cpi` >= 0) and (`min_cpi` <= 10))),
  CONSTRAINT `eligibilitycriteria_chk_2` CHECK ((`max_income` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eligibilitycriteria`
--

LOCK TABLES `eligibilitycriteria` WRITE;
/*!40000 ALTER TABLE `eligibilitycriteria` DISABLE KEYS */;
INSERT INTO `eligibilitycriteria` VALUES (1,1,8.00,1000000.00,1),(2,2,7.00,300000.00,2),(3,3,6.50,500000.00,4),(4,4,7.50,1500000.00,1),(5,5,8.50,2000000.00,1);
/*!40000 ALTER TABLE `eligibilitycriteria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fundallocation`
--

DROP TABLE IF EXISTS `fundallocation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fundallocation` (
  `allocation_id` int NOT NULL AUTO_INCREMENT,
  `scholarship_id` int NOT NULL,
  `allocated_amount` decimal(12,2) NOT NULL,
  `remaining_amount` decimal(12,2) NOT NULL,
  PRIMARY KEY (`allocation_id`),
  KEY `scholarship_id` (`scholarship_id`),
  CONSTRAINT `fundallocation_ibfk_1` FOREIGN KEY (`scholarship_id`) REFERENCES `scholarship` (`scholarship_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fundallocation_chk_1` CHECK ((`allocated_amount` >= 0)),
  CONSTRAINT `fundallocation_chk_2` CHECK ((`remaining_amount` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fundallocation`
--

LOCK TABLES `fundallocation` WRITE;
/*!40000 ALTER TABLE `fundallocation` DISABLE KEYS */;
INSERT INTO `fundallocation` VALUES (1,1,500000.00,460000.00),(2,2,300000.00,250000.00),(3,3,200000.00,180000.00),(4,4,250000.00,220000.00),(5,5,400000.00,380000.00);
/*!40000 ALTER TABLE `fundallocation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `incomecertificate`
--

DROP TABLE IF EXISTS `incomecertificate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `incomecertificate` (
  `income_certificate_id` int NOT NULL AUTO_INCREMENT,
  `student_id` int NOT NULL,
  `annual_income` decimal(12,2) NOT NULL,
  `issue_date` date NOT NULL,
  PRIMARY KEY (`income_certificate_id`),
  KEY `student_id` (`student_id`),
  CONSTRAINT `incomecertificate_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `student` (`student_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `incomecertificate_chk_1` CHECK ((`annual_income` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `incomecertificate`
--

LOCK TABLES `incomecertificate` WRITE;
/*!40000 ALTER TABLE `incomecertificate` DISABLE KEYS */;
INSERT INTO `incomecertificate` VALUES (1,1,450000.00,'2023-12-01'),(2,2,250000.00,'2023-12-02'),(3,3,300000.00,'2023-12-05'),(4,4,180000.00,'2023-12-07'),(5,5,500000.00,'2023-12-10'),(6,9,350000.00,'2023-12-12'),(7,10,220000.00,'2023-12-15'),(8,1,460000.00,'2023-12-20'),(9,2,240000.00,'2023-12-22'),(10,3,290000.00,'2023-12-25');
/*!40000 ALTER TABLE `incomecertificate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `member`
--

DROP TABLE IF EXISTS `member`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `member` (
  `member_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `phone` varchar(15) NOT NULL,
  `role` enum('student','admin') NOT NULL,
  PRIMARY KEY (`member_id`),
  UNIQUE KEY `email` (`email`),
  CONSTRAINT `member_chk_1` CHECK ((`role` in (_cp850'student',_cp850'admin')))
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `member`
--

LOCK TABLES `member` WRITE;
/*!40000 ALTER TABLE `member` DISABLE KEYS */;
/*!40000 ALTER TABLE `member` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment`
--

DROP TABLE IF EXISTS `payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment` (
  `payment_id` int NOT NULL AUTO_INCREMENT,
  `application_id` int NOT NULL,
  `amount` decimal(12,2) NOT NULL,
  `payment_date` date NOT NULL,
  `transaction_id` varchar(50) NOT NULL,
  PRIMARY KEY (`payment_id`),
  UNIQUE KEY `transaction_id` (`transaction_id`),
  KEY `application_id` (`application_id`),
  CONSTRAINT `payment_ibfk_1` FOREIGN KEY (`application_id`) REFERENCES `application` (`application_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `payment_chk_1` CHECK ((`amount` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment`
--

LOCK TABLES `payment` WRITE;
/*!40000 ALTER TABLE `payment` DISABLE KEYS */;
INSERT INTO `payment` VALUES (1,1,20000.00,'2024-01-20','TXN001'),(2,4,18000.00,'2024-01-23','TXN002'),(3,8,25000.00,'2024-02-05','TXN003'),(4,9,15000.00,'2024-02-06','TXN004'),(5,2,10000.00,'2024-01-25','TXN005'),(6,6,12000.00,'2024-01-28','TXN006'),(7,5,9000.00,'2024-01-22','TXN007'),(8,3,0.00,'2024-01-18','TXN008'),(9,7,5000.00,'2024-01-30','TXN009'),(10,10,11000.00,'2024-02-10','TXN010');
/*!40000 ALTER TABLE `payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `scholarship`
--

DROP TABLE IF EXISTS `scholarship`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `scholarship` (
  `scholarship_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `description` text,
  `total_fund` decimal(12,2) NOT NULL,
  PRIMARY KEY (`scholarship_id`),
  UNIQUE KEY `name` (`name`),
  CONSTRAINT `scholarship_chk_1` CHECK ((`total_fund` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scholarship`
--

LOCK TABLES `scholarship` WRITE;
/*!40000 ALTER TABLE `scholarship` DISABLE KEYS */;
INSERT INTO `scholarship` VALUES (1,'Merit Scholarship','Awarded for academic excellence',500000.00),(2,'Means Scholarship','Based on family income',300000.00),(3,'ST Category Scholarship','Support for ST category students',200000.00),(4,'Girl Child Scholarship','Support for female students',250000.00),(5,'Research Grant','Given to students involved in research',400000.00);
/*!40000 ALTER TABLE `scholarship` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student`
--

DROP TABLE IF EXISTS `student`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student` (
  `student_id` int NOT NULL,
  `roll_no` varchar(20) NOT NULL,
  `dob` date NOT NULL,
  `category_id` int NOT NULL,
  `admission_year` int NOT NULL,
  PRIMARY KEY (`student_id`),
  UNIQUE KEY `roll_no` (`roll_no`),
  KEY `category_id` (`category_id`),
  CONSTRAINT `student_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `member` (`member_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `student_ibfk_2` FOREIGN KEY (`category_id`) REFERENCES `category` (`category_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student`
--

LOCK TABLES `student` WRITE;
/*!40000 ALTER TABLE `student` DISABLE KEYS */;
INSERT INTO `student` VALUES (1,'21CS001','2003-02-11',1,2021),(2,'21CS002','2003-04-19',2,2021),(3,'21CS003','2003-09-03',3,2021),(4,'21CS004','2003-12-30',4,2021),(5,'21CS005','2003-01-25',2,2021),(9,'21CS009','2003-05-14',1,2021),(10,'21CS010','2003-07-01',5,2021);
/*!40000 ALTER TABLE `student` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `verification`
--

DROP TABLE IF EXISTS `verification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `verification` (
  `verification_id` int NOT NULL AUTO_INCREMENT,
  `application_id` int NOT NULL,
  `admin_id` int DEFAULT NULL,
  `decision` enum('approved','rejected','pending') NOT NULL,
  `remarks` text,
  `verification_date` date NOT NULL,
  PRIMARY KEY (`verification_id`),
  KEY `application_id` (`application_id`),
  KEY `admin_id` (`admin_id`),
  CONSTRAINT `verification_ibfk_1` FOREIGN KEY (`application_id`) REFERENCES `application` (`application_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `verification_ibfk_2` FOREIGN KEY (`admin_id`) REFERENCES `admin` (`admin_id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `verification`
--

LOCK TABLES `verification` WRITE;
/*!40000 ALTER TABLE `verification` DISABLE KEYS */;
INSERT INTO `verification` VALUES (11,1,6,'approved','Good academic record.','2024-01-15'),(12,2,7,'approved','Income verified.','2024-01-16'),(13,3,8,'rejected','Low CPI.','2024-01-17'),(14,4,6,'approved','All documents clear.','2024-01-19'),(15,5,7,'approved','CPI verified.','2024-01-21'),(16,6,8,'approved','Meets criteria.','2024-01-23'),(17,7,6,'rejected','Incomplete docs.','2024-01-26'),(18,8,7,'approved','Research validated.','2024-02-02'),(19,9,8,'approved','Eligible category.','2024-02-06'),(20,10,6,'pending','Under review.','2024-02-09');
/*!40000 ALTER TABLE `verification` ENABLE KEYS */;
UNLOCK TABLES;
SET @@SESSION.SQL_LOG_BIN = @MYSQLDUMP_TEMP_LOG_BIN;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-28 23:32:25
